body {
    min-width: 950px;
    background-color: #d5d8de;
    color: #34363c;
    font-family:  'Noto Serif', sans-serif;
}

.content{
    float: left;
}

#image {
    background-color: white;
    border: 1px solid #34363c;
    width: 240px;
    height: 240px;
    border-radius:50%; 
    margin: 50px 20px 20px 20%;
    overflow: hidden;

    /* grayscale */
    -webkit-filter: grayscale(0.3); /* chrome, safari */
}

#image img {
    max-width: 100%;
    max-height: 100%;
}

#info {
    border-left: 1px solid #314f7b;
    width: 40%;
    height: 85%;
    padding: 35px 10% 20px 20px;
}

h1 { 
    font-size: 56px;
}

.name { 
    color: #3a4f7b;
}

h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 38px;
    font-weight: 400;
    font-style: italic;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}


p {
    font-family: serif;
    font-size: 20px;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: #3e9cde;
}

a:hover {
    background-color: #0872be;
}

