body {
    min-width: 500px;
    background-color: #d5d8de;;
    color: #34363c;
}

div {
    float: left;
}

#image {
    background-color: white;
    border: 1px solid #34363c;
    width: 240px;
    height: 240px;
    border-radius:50%; 
    margin: 50 20 20 15%;
    overflow: hidden;

    /* grayscale */
    -webkit-filter: grayscale(0.3); /* chrome, safari */
}

#image img {
    max-width: 100%;
    max-height: 100%;
}

#image:hover {
    filter: none; /* ff, ie */
    -webkit-filter: grayscale(0);
}

#divider {
    width: 1px;
    background-color: #314f7b;
    height: 90%;
    margin: 30 30 30 30;
}

#info {
    width: 35%;
    height: 25%;
    margin: 40 20 20 20;
}

h1 { 
    font-family:  'Noto Serif', sans-serif;
    font-size: 56px;
}

.name { 
    color: #3a4f7b;
}


h2 {
    font-family: 'Oxygen', sans-serif;
    font-size: 36px;
    font-weight: 400;
    font-style: italic;
}


p {
    font-family: serif;
    font-size: 20px;
    line-height: 1.5em;
}

